<div *ngIf='title === "Main_Page"' class='page-width'>
    <h1>About Wiki Dark</h1>
    Wiki Dark is made by <a href="https://github.com/halait" target="_blank" rel="noreferrer noopener">halait</a> with 
    <a href='https://www.mediawiki.org/wiki/RESTBase' target="_blank" rel="noreferrer noopener">Wikimedia REST API</a>, 
    <a href='https://www.mediawiki.org/wiki/API:REST_API' target="_blank" rel="noreferrer noopener">Mediawiki Core REST API</a> and 
    <a href='https://angular.io/' target="_blank" rel="noreferrer noopener">Angular</a>. 
    Visit the <a href='https://github.com/halait/wiki-dark' target="_blank" rel="noreferrer noopener">GitHub repository</a> for more information.
</div>
<h1 *ngIf='!mobileMode && wikiTitle' class='page-width'>{{ wikiTitle }}</h1>
<div #div>
</div>