#SiteHeader {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*
    --site-header-height: 2rem;
    height: var(--site-header-height);
    line-height: var(--site-header-height);
    */
}
#HeaderLogo {
    font-size: 1.4rem;
    font-weight: 700;
    color: inherit;
    flex-shrink: 0;
}
#SiteHeaderMenu {
    display: flex;
    flex-basis: 16rem;
    margin-left: 0.5rem;
}
#SiteThemeToggle {
    margin-left: 0.5rem;
}
app-quick-search {
    flex-grow: 1;
}
#SiteFooter {
    padding: 1rem;
    max-width: 90rem;
    margin: 0 auto;
}
@media screen and (min-width: 60rem) {
    #SiteHeader {
        padding: 0.8rem 1.5rem;
    }
    #HeaderLogo {
        font-size: 2rem;
    }
    #SiteFooter {
        padding: 2rem;
    }

}