body.darker {
    --filter: invert(1);
    --bg-color: #fff;
    --color: #666;
    --link-color: #990;
    --link-visited-color: #4c2;
    --link-external-color: #f75;
    --image-opacity: 0.65;
}
body.dark {
    --filter: invert(1);
    --bg-color: #fff;
    --color: #222;
    --link-color: #550;
    --link-visited-color: #060;
    --link-external-color: #c42;
    --image-opacity: 1;
}
body.light {
    --filter: none;
    --color: #222;
    --link-color: #00b;
    --link-visited-color: #60b;
    --link-external-color: #08a;
    --image-opacity: 1;
}
body {
    color: var(--color);
    background-color: var(--bg-color);
    line-height: 1.75;
    font-family: sans-serif;
}
a {
    color: var(--link-color);
}
a:visited {
    color: var(--link-visited-color);
}
.mw-parser-output a.extiw, .mw-parser-output a.external {
    color: var(--link-external-color);
}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
}
.infobox {
    color: inherit;
}
img, video {
    background-color: #fff;
    filter: var(--filter);
    opacity: var(--image-opacity);
}
