/*
body {
    --bg-color: #000;
    --color: #fff;
    --anchor-color: #88f;
    --anchor-color-visited: #bbf;
    background-color: var(--bg-color);
    color: var(--color);
    max-width: 90rem;
    height: max-content;
    margin: 0 auto;
    padding: 0 1rem;
    line-height: 1.75;
}
body.light {
    --bg-color: #fff;
    --color: #000;
    --anchor-color: #00f;
    --anchor-color-visited: #1a0dab;
}
a { 
    color: var(--anchor-color) !important;
}
a:visited {
    color: var(--anchor-color-visited) !important;
}

.infobox,
.wikitable,
.wikitable > * > tr > th,
table.ambox,
figure[typeof~='mw:Image/Thumb'],
figure[typeof~='mw:Video/Thumb'],
figure[typeof~='mw:Audio/Thumb'],
figure[typeof~='mw:Image/Frame'],
figure[typeof~='mw:Video/Frame'],
figure[typeof~='mw:Audio/Frame'],
figure[typeof~='mw:Image/Thumb'] > figcaption,
figure[typeof~='mw:Video/Thumb'] > figcaption,
figure[typeof~='mw:Audio/Thumb'] > figcaption,
figure[typeof~='mw:Image/Frame'] > figcaption,
figure[typeof~='mw:Video/Frame'] > figcaption,
figure[typeof~='mw:Audio/Frame'] > figcaption,
.navbox, .navbox-subgroup,
.navbox-even,
.toc,
table.ombox,
h1, h2, h3, h4, h5, h6,
.toccolours,
pre, code, .mw-code,
.mw-highlight,
div.thumbinner
{
    color: inherit !important;
    background-color: inherit!important;
}

.infobox-header,
.mw-parser-output .sidebar,
.sidebar th,
.sidebar td,
.sidebar-list-title,
.navbox-group,
.navbox-abovebelow,
.navbox-title,
th,
.mw-parser-output .module-shortcutboxplain,
td,
.mw-parser-output .documentation, .mw-parser-output .documentation-metadata,
.mw-parser-output #mp-topbanner, .mw-parser-output .mp-h2, .mw-parser-output #mp-left,
.mw-parser-output #mp-topbanner,
.mw-parser-output #mp-lower
{
    color: inherit !important;
    background-color: inherit !important;
}
*/
/*
body {
    --filter: invert(1);
    background-color: #fff;
    color: #000;
    filter: var(--filter);
    margin: 0;
}
img {
    filter: var(--filter);
}
body.light {
    --filter: none;
}
*/
body {
    --filter: invert(1);


    --link-color: #960;
    --link-visited-color: #4a1;
    --link-external-color: #730;

    line-height: 1.75;
    font-family: sans-serif;
    /* to allow resizing */
    height: max-content;

    /* mobile version ovverides */
    overflow: auto;
    margin-left: auto !important;
    margin-right: auto !important;

    max-width: 90rem;
    padding: 0 1rem;

    position: relative;
}
body.light {
    --filter: none;
    --link-color: #21a;
    --link-visited-color: rgb(102, 0, 153);
    --link-external-color: #36b;
}
a {
    color: var(--link-color);
}
a:visited {
    color: var(--link-visited-color);
}
.mw-parser-output a.extiw, .mw-parser-output a.external {
    color: var(--link-external-color)
}
img, video {
    background-color: #fff;
    filter: var(--filter);
}


.wd-control-heading {
    cursor: pointer;
    display: flex;
    justify-content: left;
}
.wd-control-heading:before {
    width: 2rem;
    font-weight: 700;
    content: '-';
}
.wd-control-heading-hidden:before {
    content: '+';
}

.mw-parser-output #mp-topbanner {
    display: none !important;
}
.mw-parser-output #mp-left, .mw-parser-output #mp-right {
    display: table-row;
}
.mw-parser-output #mp-upper .mid-table {
    display: none;
}

@media screen and (min-width: 60rem) {
    body {
        padding: 0 2rem;
    }

    .mw-parser-output #mp-topbanner {
        display: block !important;
    }
    .mw-parser-output #mp-left, .mw-parser-output #mp-right {
        display: table-cell;
    }
    .mw-parser-output #mp-upper .mid-table {
        display: block;
    }
}