body.darker {
    --bg-color: #000;
    --color: #999;
    --secondary-color: #777;
    --anchor-color: #66f;
    --anchor-color-visited: #b3d;
    --scrollbar-track-color: #000;
    --scrollbar-thumb-color: #444;
    --image-opacity: 0.65;
}
body.dark {
    --bg-color: #000;
    --color: #ddd;
    --secondary-color: #999;
    --anchor-color: #aaf;
    --anchor-color-visited: #f9f;
    --scrollbar-track-color: #111;
    --scrollbar-thumb-color: #555;
}
body.light {
    --bg-color: #fff;
    --color: #222;
    --secondary-color: #555;
    --anchor-color: #00b;
    --anchor-color-visited: #60b;
    --scrollbar-track-color: #fff;
    --scrollbar-thumb-color: #bbb;
}
body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--color);
    font-family: sans-serif;
    line-height: 1.75;
}
a { 
    color: var(--anchor-color);
}
a:visited {
    color: var(--anchor-color-visited);
}
input, button {
    color: inherit;
    background-color: inherit;
    border: 1px var(--color) solid;
}
button {
    cursor: pointer;
}
img {
    filter: brightness(var(--image-opacity, 1));
}
.undecorated-link {
    color: var(--color);
    text-decoration: none;
}
.undecorated-link:visited {
    color: var(--color);
}
.display-none {
    display: none;
}
.page-width {
    display: block;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}
/* TODO why not working? */
body::-webkit-scrollbar {
    background-color: var(--scrollbar-track-color);
}
body::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

#WikiIFrame {
    border: none;
    background-color: #fff;
}
.dark#WikiIFrame, .darker#WikiIFrame{
    filter: invert(1);
}

@media screen and (min-width: 60rem) {
    .page-width {
        padding: 0 2rem;
    }
}