
#SearchResults {
    list-style: none;
    padding: 0;
}
.search-result {
    padding: 1rem 0;
}
.search-result-link {
    font-size: 1.25rem;
    text-decoration: none;
    display: block;
    margin-bottom: 0.5rem;
}
#message {
    margin: 2rem 0;
    font-size: 1.5rem;
}